<footer>
  <div class="footer-inner">
    <div>
      <img class="footer-logo" src="images/LOGO-AttendNC-White.png" alt="AttendNC Counts" />
    </div>
    <div class="footer-meta">
      <a href="https://www.dpi.nc.gov/districts-schools/office-research-promising-practices" target="_blank" rel="noopener">Office of Research &amp; Promising Practices</a><br>
      <a href="https://www.dpi.nc.gov/" target="_blank" rel="noopener">North Carolina Department of Public Instruction</a><br>
      <a href="mailto:shaun.kellogg@dpi.nc.gov">shaun.kellogg@dpi.nc.gov</a>
    </div>
  </div>
</footer>
